.section-title {
	text-align: center;
}

.section-2,
.section-3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	background-color: white;
	min-height: 55vh;
	padding: 2.5rem;
}

.section-content {
	display: flex;
	flex-direction: column;
	min-height: 20rem;
	max-width: 45%;
	min-width: 365px;
	gap: 1.5rem;
	text-align: center;
}

.section-text {
	justify-self: center;
	align-self: center;
}

.section-image {
	max-width: 45%;
	border-radius: 5px;
	min-width: 365px;
}

.section-3 {
	background-image: url("https://i.ibb.co/fQ808m3/chalkboard-background-6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* padding: 2rem; */
}

.image-1 {
	width: 100%;
	height: 20rem;
	border-radius: 5px;
}

@media only screen and (max-width: 1050px) {
	.section-1-content {
		display: flex;
		flex-direction: column;
		min-width: 40%;
		gap: 1rem;
		text-align: center;
	}

	.section-image {
		min-width: 40%;
	}

	.section-image {
		display: none;
	}

	.section-content {
		max-width: 70%;
	}
}
