/* Global Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
	color: black;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

:root {
	--pink: rgb(192, 115, 115);
	--box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* body */
.body {
	min-height: 100vh;
}
