/* Header */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.8rem;
	border-bottom: 1px solid var(--pink);
}

.navbar a {
	margin-left: 1rem;
	text-decoration: none;
	padding: 0.5rem;
}

.navbar-menu a:hover {
	border: 1px solid var(--pink);
	border-radius: 5px;
}



