.navbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 7rem;
	border-bottom: 1px solid var(--pink);
}

.navbar a {
	margin-left: 1rem;
	text-decoration: none;
	padding: 0.5rem;
	font-size: 1.5em;
	font-weight: bolder;
}

.navbar-menu a:hover {
	text-decoration: underline;
}



