/* Global Styles */

:root {
	--pink: rgb(192, 115, 115);
	--box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Header */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.8rem;
	border-bottom: 1px solid var(--pink);
}

.navbar a {
	margin-left: 1rem;
	text-decoration: none;
	padding: 0.5rem;
}

.navbar-menu a:hover {
	border: 1px solid var(--pink);
	border-radius: 5px;
}



