@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

/* Base styling */
* {
	margin: 0;
	font-family: "Quicksand", sans-serif;
	color: rgb(196, 190, 190);
}
/* Header */
.navbar {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 2000px;
	margin: 0 auto;
	border-bottom: 1px solid rgb(224, 129, 129);
}

.navbar h1 {
	color: rgb(192, 115, 115);
	font-size: 2.5em;
}

.navbar .links {
	margin-left: auto;
}

.navbar a {
	margin-left: 16px;
	text-decoration: none;
	padding: 6px;
}

.navbar a:hover {
	background-color: rgb(224, 129, 129);
}

/* Content */

.content {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 100px;
}

/* Star entries */
.main {
	width: 75%;
	margin: 0 auto;
	margin-top: 40px;
	align-self: center;
}

.EntryForm {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.EntryTitle h1 {
	font-size: 2em;
	margin-bottom: 20px;
	text-align: center;
	color: rgb(192, 115, 115);
}

.main:hover {
	box-shadow: 1px 3px 5px rgb(0, 0, 0, 0.1);
}

.EntryForm h2 {
	font-size: 20px;
	color: rgb(192, 115, 115);
	margin-bottom: 8px;
}

.contact-card {
	width: 80%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.button-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 1rem;
}

.card-intro-wrapper{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1.2rem;
}

.success-msg {
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 700px) {
	.contact-card {
		width: 50%;
	}
}
