footer {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	justify-content: center;
	align-items: center;
	padding: 0.7rem;
	border-top: 1px solid rgb(192, 115, 115);
	text-align: center;
    position: relative; 
    left: 0 ; 
    right: 0; 
    bottom: 0;
}

.links-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.footer-link {
	min-width: 8%;
	font-weight: bolder;
	padding: 0.4rem;
	color: black;
}
