/* Contact Section*/
.contact-section {
	min-height: 50vh;
	padding: 2rem;
}

.contact-section-2 {
	background-color: whitesmoke;
	min-height: 55vh;
	padding: 3rem;
	display: flex;
    flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 6rem;
	margin-bottom: 3rem;
	gap: 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contact-card {
	max-width: 55%;
	margin: 0rem auto;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.card-intro-wrapper {
	text-align: center;
	margin-bottom: 1rem;
}

.contact-button:hover {
	background-color: black !important;
}


/* Meet the team */
.title-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon:hover {
	background-color: var(--pink);
}

.team-cards-wrapper {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	gap: 1.5rem;
	margin-bottom: 1rem;
	margin: 1rem;
}
